$basic-white: #ffffff;
$basic-gray: #48494d;
$basic-red: #d12136;
$basic-black: #000000;

$special-white: #f5f5f9;
$special-gray: #d7d9df;
$special-red: #bd0c21;
$special-black: #1a212f;

$light-red: #ff0000;
